<div class="fun">
    <div class="pet__intro">
        <p class="fun__label">you found a super secret gift !!!!! come back very soon to claim it  !!!!</p>
        <img src="/assets/gift.png" alt="i wonder what's in" class="fun__gift">
    </div>
        
    <div class="pet hide">
        <div class="pet__stats">
            <input type="text" class="pet__name">
        </div>
        
        <img src="/assets/bibux.png" alt="bibux what" title="omg its bibux" class="pet__bibux">
        <ul class="pet__actions"></ul>
    </div>
</div>