<section class="home">
    
    <img src="/assets/smile.gif" title="SMILE" alt="picture of a smiling emoji, he's not smiling" class="home__smile">

    <h1 class="home__title">• miamoalex •</h1>
    <span class="home__subtitle">web developer from outer-space</span>

    <section class="home__about">
        <h2 class="home__about-title">About me</h2>
        <span class="home__about-presentation">greetings adventurer, you are welcomed to miamoalex.net, a peek through
            my mind and time.</span>

        <ul class="home__about-list">
            <li class="home__about-like">I make <a class="home__game" href="http://bibux.fr" target="_blank">games</a>
            </li>
            <li class="home__about-like">I design and code <a href="http://github.com/MiamoAlex" target="_blank">weird
                    stuff</a></li>
            <li class="home__about-like">I like <a class="home__music" href="https://spotify.com"
                    target="_blank">music</a></li>
            <li class="home__about-like">I like <a class="home__you" href="http://iseeu.com">you</a></li>
        </ul>

    </section>
    
    <div class="home__doggyz">
        <span class="home__doggyz-woof">woff woff</span>
        <img src="/assets/doggy.png" title="what a cute dog, the sad truth is that he got killed" alt="woof woff waaf"
            class="home__doggyz-img">
        <span class="home__doggyz-text">henlo i am typo dog</span>
    </div>

    <img src="/assets/trex.png" alt="grawr i am lord trex ruler of worlds" class="home__trex">

    <section class="home__projects">
        <h2 class="home__about-title">Stuff i made</h2>
        <ul class="home__projects-list">
            <li class="home-projects-item">
                <span class="home-projects-label" hidden>Portfolio</span>
                <a href="https://2022.alexsounalet.com" target="_blank" class="home__projects-link">
                    <img src="/assets/projects/museum.jpg" alt="what a weird museum??" class="home__projects-img">
                </a>
            </li>
            <li class="home-projects-item">
                <span class="home-projects-label" hidden>miamo.fr</span>
                <a href="https://miamo.fr" target="_blank" class="home__projects-link">
                    <img src="/assets/projects/miamofr.jpg" alt="miamoo miamoooo miamooooooo point fr" class="home__projects-img">
                </a>
            </li>
            <li class="home-projects-item">
                <span class="home-projects-label" hidden>Bibux jump</span>
                <a href="https://bibux.fr" target="_blank" class="home__projects-link">
                    <img src="/assets/projects/bibux.jpg" alt="hann heyyy hahhh hiii" class="home__projects-img">
                </a>
            </li>
            <li class="home-projects-item">
                <span class="home-projects-label" hidden>Prain</span>
                <a href="https://prain.fr" target="_blank" class="home__projects-link">
                    <img src="/assets/projects/prain.jpg" alt="yes we rock here" class="home__projects-img">
                </a>
            </li>
            <li class="home-projects-item">
                <span class="home-projects-label" hidden>Fonblix</span>
                <a href="https://fonblix.app" target="_blank" class="home__projects-link">
                    <img src="/assets/projects/fonblix.jpg" alt="i like to be organized ok" class="home__projects-img">
                </a>
            </li>
            <li class="home-projects-item">
                <span class="home-projects-label" hidden>Miamo Games</span>
                <a href="https://miamo.games" target="_blank" class="home__projects-link">
                    <img src="/assets/projects/miamogames.jpg" alt="we be gamin" class="home__projects-img">
                </a>
            </li>
            <li class="home-projects-item">
                <span class="home-projects-label" hidden>Portfolio</span>
                <a href="https://alexsounalet.com" target="_blank" class="home__projects-link">
                    <img src="/assets/projects/portfolio.jpg" alt="my creations in windows xp" class="home__projects-img">
                </a>
            </li>
            <li class="home-projects-item">
                <span class="home-projects-label" hidden>makeout.dev</span>
                <a href="https://makeout.dev" target="_blank" class="home__projects-link">
                    <img src="/assets/projects/makeout.jpg" alt="" class="home__projects-img">
                </a>
            </li>
        </ul>
    </section>

    <div class="home__mible" title="omg it's the mible">
        <span class="home__mible-title">⋆ the mible ⋆</span>
        <span class="home__mible-verse"></span>
    </div>

    <div class="home__guestbook">
        <img src="/assets/guestbook.gif" alt="what a great book omg" title="writing time" class="home__guestbook-img">
        <span class="home__guestbook-title">my guestbook !!</span>
    </div>

    <div class="home__reviews">
        <ul class="home__reviews-content"></ul>
        <form class="home__reviews-form">
            <input type="text" name="author" class="home__reviews-input" placeholder="ur name" maxlength="16">
            <input type="text" name="content" class="home__reviews-message" placeholder="say something !!" maxlength="256">
            <input type="submit" class="home__reviews-submit" value="submit!!">
        </form>
    </div>

    <div class="home__burgermaker">

        <h2 class="home__burgermaker-title">my miamoalex hamburger !!!</h2>
        <input type="submit" value="print it ♫" class="home__burgermaker-print">
        <div class="home__burgermaker-burger">
            <img src="/assets/bottombun.png" class="home__burgermaker-part" style="z-index: 2;">
        </div>

        <div class="home__burgermaker-ingredients">
            <img src="/assets/bottombun.png" data-ingredient="bottombun" alt="great food" class="home__burgermaker-ingredient">
            <img src="/assets/steak.png" data-ingredient="steak" alt="great food" class="home__burgermaker-ingredient">
            <img src="/assets/salad.png" data-ingredient="salad" alt="great food" class="home__burgermaker-ingredient">
            <img src="/assets/cheese.png" data-ingredient="cheese" alt="great food" class="home__burgermaker-ingredient">
            <img src="/assets/tomato.png" data-ingredient="tomato" alt="great food" class="home__burgermaker-ingredient">
            <img src="/assets/egg.png" data-ingredient="egg" alt="great food" class="home__burgermaker-ingredient">
            <img src="/assets/topbun.png" data-ingredient="topbun" alt="great food" class="home__burgermaker-ingredient">
        </div>
    </div>

    <img src="/assets/phone.png" alt="dring dring it's time to eat" class="home__phone">
</section>