<section class="home">
    <h1 class="home__title">miamoalex ♪ ♥</h1>
    <span class="home__subtitle">web developer from outer-space</span>
    
    <section class="home__about">
        <h2 class="home__about-title">About me</h2>
        <span class="home__about-presentation">greetings adventurer, you are welcomed to miamoalex.net, a wormhole through my mind.</span>
        
        <ul class="home__about-list">
            <li class="home__about-like">i like coding</li>
            <li class="home__about-like">i like games</li>
            <li class="home__about-like">i like music</li>
            <li class="home__about-like">i like you</li>
            <li class="home__about-like home__school">i hate school</li>
        </ul>
    </section>

    <div class="home__doggyz">
        <span class="home__doggyz-woof">woff woff</span>
        <img src="/assets/doggy.png" alt="woof woff waaf" class="home__doggyz-img">
        <span class="home__doggyz-text">henlo i am typo dog</span>
    </div>

    <img src="/assets/phone.png" alt="dring dring it's time to eat" class="home__phone">
</section>