<span class="article__close">close me</span>


<h2 class="article__title">
    january 2023
</h2>

<p class="article__body" style="margin-top: 4rem;">
    happy new year !!! i just released my new xp themed portfolio. not extremely proud of the result yet, but at least you can easily find my projects on it >></p>
<img src="/assets/blog/1.jpg" alt="my new portfolio" class="article__img">
<p class="article__body">to be continued i didn't have time to write it :(</p>

<p class=" article__text" style="margin-top: 1200rem;">probably going to be a long one</p>