@use "../abstracts/" as *;

.footer {
    width: 100%;
    height: 4rem;
    overflow: auto;
    background-color: var(--clr-main-footer);
    &__banners {
        @include flex(center, flex-start, row);
        list-style: none;
        flex-wrap: wrap;
    }

    &__visitors {
        display: block;
        width: 100%;
        text-align: center;
    }
}
