@use "../abstracts/" as *;

.footer {
    width: 100%;
    z-index: 10;
    position: relative;
    background: url('/assets/footer.jpg');

    &::after {
        content: '';
        z-index: 10;
        position: absolute;
        height: 2.5rem;
        top: -2.25rem;
        background: url('/assets/burger.gif');
        width: 100%;
    }

    background-color: var(--clr-main-footer);
    @include flex(center, center, column);

    &__infos {
        width: 100%;
        height: 2rem;
        @include flex(space-around, center, row);
        list-style: none;
    }

    &__info {
        width: fit-content;
    }

    &__banners {
        @include flex(center, flex-start, row);
        list-style: none;
        flex-wrap: wrap;
        width: fit-content;
    }

    &__visitors {
        display: block;
        text-align: center;
    }
}
