@use "../abstracts/" as *;

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 3rem;
    overflow: auto;
    z-index: 10;
    background-color: var(--clr-main-footer);
    &__banners {
        @include flex(center, flex-start, row);
        list-style: none;
        flex-wrap: wrap;
    }

    &__visitors {
        display: block;
        width: 100%;
        text-align: center;
    }
}
