@use "../abstracts/" as *;

.header {
    font-size: 1.5rem;
    height: 4rem;
    position: fixed;
    top: 0;
    padding-left: 1rem;
    @include flex(flex-start, center, row);
    gap: .5rem;
    z-index: 10;

    &__music {
        width: 2rem;
        height: 2rem;
        background: rgba(193, 107, 210, 0.5);
    }
}
