@use "../abstracts/" as *;

body {
    background-color: var(--clr-main-background);
}

.main {
    font-size: 45px;
    transition: transform 1000ms, opacity 1500ms;
    opacity: 1;
    transform-origin: center;
    position: relative;
    &__transition {
        opacity: 0;
        transform: rotate(360deg);
    }
}
