:root {
  --font-w-thin: 100;
  --font-w-light: 300;
  --font-w-regular: 400;
  --font-w-bold: 800;
  --fs-500: 1.375rem;
  --fs-600: 1.5rem;
  --fs-800: 2.9375rem;
  scroll-behavior: smooth;
  --app-height: 100%;
}
@media (min-width: 80rem) {
  :root {
    --fs-500: 1.875rem;
    --fs-600: 2.625rem;
    --fs-800: 4.375rem;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

[hidden] {
  display: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  user-select: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100vw;
  -webkit-font-smoothing: never;
  font-smooth: never;
  text-rendering: geometricPrecision;
  font-family: "Times New Roman", Times, serif;
  cursor: url("../assets/cur.png"), default;
}

*::selection {
  background-color: violet;
}

video {
  display: none;
}

a {
  cursor: url("../assets/hover.png"), pointer;
}

use {
  pointer-events: none;
}

ul {
  padding-inline-start: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar:horizontal {
  height: 17px;
}

::-webkit-scrollbar-track {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='2' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 0H0v1h1v1h1V1H1V0z' fill='silver'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 0H1v1H0v1h1V1h1V0z' fill='%23fff'/%3E%3C/svg%3E");
}

::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
}

::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement {
  display: block;
}

::-webkit-scrollbar-button:vertical:start {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 6H7v1H6v1H5v1H4v1h7V9h-1V8H9V7H8V6z' fill='%23000'/%3E%3C/svg%3E");
}

::-webkit-scrollbar-button:vertical:end {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 6H4v1h1v1h1v1h1v1h1V9h1V8h1V7h1V6z' fill='%23000'/%3E%3C/svg%3E");
}

::-webkit-scrollbar-button:horizontal:start {
  width: 16px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 4H8v1H7v1H6v1H5v1h1v1h1v1h1v1h1V4z' fill='%23000'/%3E%3C/svg%3E");
}

::-webkit-scrollbar-button:horizontal:end {
  width: 16px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 4H6v7h1v-1h1V9h1V8h1V7H9V6H8V5H7V4z' fill='%23000'/%3E%3C/svg%3E");
}

body {
  background-color: var(--clr-main-primary);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.theme__main {
  --clr-name-main: ;
  --clr-main-white: #ebe0cc;
  --clr-main-black: #17181e;
  --clr-main-background: #bd91f7;
  --clr-main-footer: #df77f4;
}

.transition {
  position: absolute;
  left: 0;
  top: 0;
  height: calc(100vh - 4rem);
  width: 100%;
  z-index: 100;
  transition: transform 200ms, opacity 300ms;
  transform: scaleX(0);
  transform-origin: right;
  background-color: var(--clr-main-black);
  pointer-events: none;
}
.transition__open {
  opacity: 1;
  transform-origin: left;
  transform: scaleX(1);
}

.hide {
  opacity: 0;
  pointer-events: none;
}

#templates {
  display: none;
}

.canvas {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -1;
  image-rendering: pixelated;
}

.header {
  font-size: 1.5rem;
  height: 4rem;
  position: fixed;
  top: 0;
  padding-left: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  z-index: 10;
}

body {
  background-color: var(--clr-main-background);
}

.main {
  font-size: 45px;
  transition: transform 1000ms, opacity 1500ms;
  opacity: 1;
  transform-origin: center;
  height: calc(100vh - 3rem);
  overflow: auto;
  position: relative;
}
.main__transition {
  opacity: 0;
  transform: rotate(360deg);
}

.footer {
  width: 100%;
  height: 4rem;
  overflow: auto;
  background-color: var(--clr-main-footer);
}
.footer__banners {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
}
.footer__visitors {
  display: block;
  width: 100%;
  text-align: center;
}

.home {
  height: 500vh;
  overflow: hidden;
  padding-top: 4rem;
}
.home__title {
  background-color: violet;
  width: fit-content;
  margin: auto;
  font-size: var(--fs-800);
}
.home__subtitle {
  font-size: var(--fs-600);
}
.home__title, .home__subtitle {
  text-align: center;
  display: block;
}
.home__works {
  position: absolute;
  right: 5%;
  top: 10rem;
  width: 6rem;
  transition: transform 300ms;
}
.home__works:hover {
  transform: rotate(960deg);
}
.home__about {
  margin: auto;
  margin-top: 3rem;
  width: 80%;
  max-width: 40rem;
  font-size: 1.25rem;
}
.home__about-list {
  margin-left: 1rem;
}
.home__phone {
  position: absolute;
  right: 5vw;
  width: 10rem;
  bottom: 0;
}
.home__phone-dring {
  animation: shake 0.22s infinite;
}
.home__doggyz {
  position: absolute;
  left: 4%;
  top: 30rem;
  font-size: 1.5rem;
  transform: skew(8deg);
  transform-origin: bottom;
}
.home__doggyz-img {
  transform-origin: bottom;
  width: 10rem;
  -webkit-user-drag: none;
  cursor: url("../assets/hover.png"), pointer;
}
.home__doggyz-crush {
  transform: skew(8deg) scaleY(0.7);
}
.home__trex {
  top: 250rem;
  left: 5%;
  cursor: url("../assets/hover.png"), pointer;
  position: absolute;
  transition: left 2600ms, transform 500ms 500ms;
}
.home__trex-active {
  left: 75vw;
  transform: scaleX(-1);
}

@media (max-width: 600px) {
  body {
    font-size: 1rem !important;
  }
}/*# sourceMappingURL=main.css.map */