:root {
  --font-w-thin: 100;
  --font-w-light: 300;
  --font-w-regular: 400;
  --font-w-bold: 800;
  --fs-500: 1.375rem;
  --fs-600: 2rem;
  --fs-800: 2.9375rem;
  scroll-behavior: smooth;
  --app-height: 100%;
}
@media (min-width: 100em) {
  :root {
    --fs-500: 1.875rem;
    --fs-600: 2.3125rem;
    --fs-800: 3.625rem;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

[hidden] {
  display: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  user-select: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100vw;
  font-family: cursive;
  cursor: url("../assets/cur.png"), default;
}

*::selection {
  background-color: violet;
}

a {
  cursor: url("../assets/hover.png"), pointer;
}

use {
  pointer-events: none;
}

ul {
  padding-inline-start: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}

body {
  background-color: var(--clr-main-primary);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.theme__main {
  --clr-name-main: ;
  --clr-main-white: #ebe0cc;
  --clr-main-black: #17181e;
  --clr-main-background: #9991f7;
}

.transition {
  position: absolute;
  left: 0;
  top: 0;
  height: calc(100vh - 4rem);
  width: 100%;
  z-index: 100;
  transition: transform 200ms, opacity 300ms;
  transform: scaleX(0);
  transform-origin: right;
  background-color: var(--clr-main-black);
  pointer-events: none;
}
.transition__open {
  opacity: 1;
  transform-origin: left;
  transform: scaleX(1);
}

.hide {
  opacity: 0;
  pointer-events: none;
}

#templates {
  display: none;
}

.canvas {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -1;
  image-rendering: pixelated;
}

.header {
  font-size: 1.5rem;
  height: 4rem;
}

body {
  background-color: var(--clr-main-background);
}

.main {
  font-size: 45px;
  transition: transform 1000ms, opacity 1500ms;
  opacity: 1;
  transform-origin: center;
  height: calc(100vh - 8rem);
  overflow: auto;
  position: relative;
}
.main__transition {
  opacity: 0;
  transform: rotate(360deg);
}

.home__title, .home__subtitle {
  text-align: center;
  width: 100%;
  display: block;
}
.home__about {
  margin: auto;
  margin-top: 3rem;
  width: 40%;
  min-width: 30rem;
  font-size: 1.25rem;
}
.home__about-list {
  margin-left: 1rem;
}
.home__school {
  color: #9d343d;
}
.home__phone {
  position: absolute;
  right: 5vw;
  width: 10rem;
  bottom: 0;
}
.home__phone-dring {
  animation: shake 0.22s infinite;
}
.home__doggyz {
  position: absolute;
  left: 12vw;
  top: 50vh;
  font-size: 1.5rem;
  transform: skew(8deg);
  transform-origin: bottom;
}
.home__doggyz-img {
  transform-origin: bottom;
  width: 10rem;
  cursor: url("../assets/hover.png"), pointer;
}
.home__doggyz-crush {
  transform: skew(8deg) scaleY(0.7);
}

@media (max-width: 600px) {
  body {
    font-size: 1rem !important;
  }
}/*# sourceMappingURL=main.css.map */