@use '../abstracts/' as *;

.home {

    &__title, &__subtitle {
        text-align: center;
        width: 100%;
        display: block;
    }

    &__about {
        margin: auto;
        margin-top: 3rem;
        width: 40%;
        min-width: 30rem;
        font-size: 1.25rem;

        &-list {
            margin-left: 1rem;
        }
    }

    &__school {
        color: #9d343d;

    }

    &__phone {
        position: absolute;
        right: 5vw;
        width: 10rem;
        bottom: 0;
        &-dring {
            animation: shake 0.22s infinite;   
        }
    }

    &__doggyz {
        position: absolute;
        left: 12vw;
        top: 50vh;
        font-size: 1.5rem;
        transform: skew(8deg);
        transform-origin: bottom;
        &-img {
            transform-origin: bottom;
            width: 10rem;
            cursor: url("../assets/hover.png"), pointer;
        }
        &-crush {
            transform: skew(8deg) scaleY(0.7);
        }

    }
}

@media (max-width: 600px) {
    body {
        font-size: 1rem!important;
    }
}