@use "../abstracts/" as *;

.home {
    height: 300rem;
    background: url("/assets/fiber.png");
    padding-top: 4rem;
    overflow: visible;
    position: relative;
    width: 100%;
    min-width: 30rem;
    margin: auto;
    border: solid 5px white;
    border-top: 0;
    border-bottom: 0;

    &__title {
        width: fit-content;
        margin: auto;
        font-size: var(--fs-800);
    }

    &__subtitle {
        font-size: var(--fs-600);
    }

    &__title,
    &__subtitle {
        text-align: center;
        display: block;
    }

    &__cake {
        margin: auto;
    }

    &__smile {
        position: absolute;
        cursor: url("../assets/hover.png"), pointer;
        right: 5%;
        top: 3rem;
        width: 4rem;
        transition: transform 300ms;
        &:hover {
            transform: rotate(960deg);
        }
    }

    &__mible {
        width: 80%;
        height: 20rem;
        margin: auto;
        background: url(/assets/mible.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        font-size: 16px;
        margin-top: 10rem;
        cursor: url("../assets/hover.png"), pointer;

        &-title,
        &-verse {
            pointer-events: none;
            display: block;
            width: 48%;
            padding-left: 1.5rem;
            padding-top: 1.5rem;
            text-align: center;
        }
    }

    &__about,
    &__projects {
        margin: auto;
        margin-top: 3rem;
        width: 80%;
        max-width: 40rem;
        font-size: 20px;

        &-list {
            margin-left: 1rem;
        }
    }

    &__projects {
        &-list {
            padding-top: 1rem;
            @include flex(center, center, row);
            flex-wrap: wrap;
            gap: 0.5rem;
            list-style: none;
        }
    }

    &__phone {
        position: absolute;
        right: -25%;
        width: 10rem;
        top: 40rem;
        &-dring {
            animation: shake 0.22s infinite;
        }
    }

    &__doggyz {
        position: absolute;
        left: -25%;
        top: 30rem;
        font-size: 1.5rem;
        transform: skew(8deg);
        transform-origin: bottom;
        &-img {
            transform-origin: bottom;
            width: 10rem;
            -webkit-user-drag: none;
            cursor: url("../assets/hover.png"), pointer;
        }
        &-crush {
            transform: skew(8deg) scaleY(0.7);
        }
    }

    &__trex {
        top: 175rem;
        left: -20%;
        cursor: url("../assets/hover.png"), pointer;
        position: absolute;
        transition: left 2600ms, transform 500ms 500ms;

        &-active {
            left: 70%;
            transform: scaleX(-1);
        }
    }

    &__guestbook {
        margin: auto;
        margin-top: 4rem;
        margin-bottom: 1rem;
        font-size: 24px;
        @include flex(center, center, row);
    }

    &__reviews {
        background: url("/assets/chip.gif");
        margin: auto;
        width: 75%;
        border: solid #145414 3px;
        color: darkblue;
        min-width: 25rem;

        &-content {
            width: 100%;
            height: 30rem;
            @include flex(flex-start, center, column-reverse);
            gap: 0.5rem;
            list-style: none;
            overflow: auto;
        }

        &-form {
            width: 100%;
            height: 3rem;
            font-size: 20px;
            @include flex(flex-start, center, row);

            & input {
                width: 33.33%;
                height: 3rem;
            }
        }
    }

    &__burgermaker {
        width: 75%;
        min-width: 25rem;
        color: var(--clr-main-white);
        background: url("/assets/ceramic.jpg");
        margin: auto;
        font-size: 1.5rem;
        margin-top: 3rem;

        &-title,
        &-print {
            display: inline;
        }

        &-ingredients {
            @include flex(center, center, row);
            gap: 0.5rem;
        }

        &-burger {
            height: 32rem;
            width: 100%;
            padding: 1rem 0;
            overflow: auto;
            @include flex(flex-start, center, column-reverse);
        }

        &-part {
            margin-top: -3rem;
        }

        &-ingredient {
            width: 3rem;
            height: 3rem;
            cursor: url("../assets/hover.png"), pointer;
        }
    }
}

@media print {
    @page {
        size: A4; /* ISO/JIS A4 */
        margin: 0;
    }

    footer,
    header,
    .home__reviews,
    .home__guestbook,
    .home__about,
    .home__doggyz,
    .home__title,
    .home__subtitle,
    .home__projects,
    .home__mible,
    .home__trex,
    .home__phone,
    .home__smile {
        display: none !important;
    }

    .home {
        height: fit-content;
        background: none;
        padding-top: 0;

        &__burgermaker {
            margin-top: 0;
            width: 100vw;
            height: fit-content;
            &-burger {
                height: fit-content;
                overflow: visible;
            }
            &-ingredient {
                page-break-after: never;
            }
    
            &-ingredients {
                display: none;
            }
            &-print {
                display: none;
            }
        }
    }

}

@media (max-width: 600px) {
    body {
        font-size: 1rem !important;
    }
}

@include mq(large) {
    .home {
        width: 50vw;
        min-width: 30rem;
    }
}
