@use "../abstracts/" as *;

.home {
    height: 500vh;
    overflow: hidden;
    padding-top: 4rem;
    width: 50vw;
    margin: auto;
    background: url("/assets/fiber.png");
    border: solid 5px white;
    border-top: 0;
    min-width: 30rem;

    &__title {
        width: fit-content;
        margin: auto;
        font-size: var(--fs-800);
    }

    &__subtitle {
        font-size: var(--fs-600);
    }

    &__title,
    &__subtitle {
        text-align: center;
        display: block;
    }

    &__cake {
        margin: auto;
    }

    &__works {
        position: absolute;
        right: 5%;
        top: 10rem;
        width: 6rem;
        transition: transform 300ms;
        &:hover {
            transform: rotate(960deg);
        }
    }

    &__mible {
        width: 80%;
        height: 20rem;
        margin: auto;
        background: url(/assets/mible.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        font-size: 16px;
        margin-top: 10rem;
        cursor: url("../assets/hover.png"), pointer;

        &-title,
        &-verse {
            pointer-events: none;
            display: block;
            width: 48%;
            padding-left: 1.5rem;
            padding-top: 1.5rem;
            text-align: center;
        }
    }

    &__about,
    &__projects {
        margin: auto;
        margin-top: 3rem;
        width: 80%;
        max-width: 40rem;
        font-size: 1.25rem;

        &-list {
            margin-left: 1rem;
        }
    }

    &__projects {
        &-list {
            padding-top: 1rem;
            @include flex(center, center, row);
            flex-wrap: wrap;
            gap: 0.5rem;
            list-style: none;
        }
    }

    &__phone {
        position: absolute;
        right: 5vw;
        width: 10rem;
        bottom: 0;
        &-dring {
            animation: shake 0.22s infinite;
        }
    }

    &__doggyz {
        position: absolute;
        left: 4%;
        top: 30rem;
        font-size: 1.5rem;
        transform: skew(8deg);
        transform-origin: bottom;
        &-img {
            transform-origin: bottom;
            width: 10rem;
            -webkit-user-drag: none;
            cursor: url("../assets/hover.png"), pointer;
        }
        &-crush {
            transform: skew(8deg) scaleY(0.7);
        }
    }

    &__trex {
        top: 250rem;
        left: 5%;
        cursor: url("../assets/hover.png"), pointer;
        position: absolute;
        transition: left 2600ms, transform 500ms 500ms;

        &-active {
            left: 75vw;
            transform: scaleX(-1);
        }
    }
}

@media (max-width: 600px) {
    body {
        font-size: 1rem !important;
    }
}
