@use "functions" as *;
$fonts: (
  ff: (),
  w: (
    thin: 100,
    light: 300,
    regular: 400,
    bold: 800,
  ),
);

$type-scale: (
  small: (
    500: rem(22),
    600: rem(24),
    800: rem(47),
  ),
  large: (
    500: rem(30),
    600: rem(42),
    800: rem(70),
  ),
);
